
<div [ngClass]="{'handset-full-page':(isHandset$ | async), 'full-page': !(isHandset$ | async)}">
    <img src="https://images.unsplash.com/photo-1526455026374-a105e60a65a3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=70e749a80820e194cf84f25fb9375f4d&auto=format&fit=crop&w=500&q=60" alt="">
  <div [ngClass]="{'top':(isHandset$ | async), 'left': !(isHandset$ | async)}">
    <div class="centered">
        <mat-card class="login-card">
          <mat-form-field>
            <input matInput placeholder="Username">
          </mat-form-field>
    
          <mat-form-field>
            <input type="password" matInput placeholder="Password">
          </mat-form-field>
          <button type="button" mat-raised-button color="warn">Login</button>
        </mat-card>
    </div>
  </div>  
  <img src="https://images.unsplash.com/photo-1527153818091-1a9638521e2a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5fce4ce8856a711cc50a14e03e58783a&auto=format&fit=crop&w=500&q=60" alt="">
  <div [ngClass]="{'bottom':(isHandset$ | async), 'right': !(isHandset$ | async)}">
       <!-- <button type="button" mat-raised-button color="primary" routerLink="/businessfirm">Get Started width Business Firm</button> -->
       <div class="text-centering-trail"><p class="mat-title">If you are a member of the Tabverts family then please</p></div>
    <div class="centered">  
        <h1><button mat-raised-button color="warn" routerLink="/businessregister">Register</button></h1>
    </div>
  </div>
</div>