<mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
         <h2>Dashboard</h2>
        </mat-panel-title>
        <mat-panel-description>
          <!-- Type your name and age -->
        </mat-panel-description>
        
      </mat-expansion-panel-header>
      <mat-card>
          <table style="width: 100%;" cellpadding="22" border="4">
              <tbody>
                <tr>
                  <h2>ADs</h2>
                </tr>
              <tr>
              <td style="width: 82.6087%;"> <b>Active Ads</b></td>
              <td style="width: 17.2464%;"></td>
              </tr>
              <tr>
              <td style="width: 82.6087%;"> <b>Pending Ads</b></td>
              <td style="width: 17.2464%;">&nbsp;</td>
              </tr>
              <tr>
              <td style="width: 82.6087%;"><b>Expired Ads</b></td>
              <td style="width: 17.2464%;">&nbsp;</td>
              </tr>
              <tr>
              <td style="width: 82.6087%;"> <h2>Total Ads</h2></td>
              <td style="width: 17.2464%;">&nbsp;</td>
              </tr>
              </tbody>
              </table>
      </mat-card>
      
          <!-- DivTable.com -->
          
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h2>Add Ads</h2>
          </mat-panel-title>
          <mat-panel-description>
            
          </mat-panel-description>
        </mat-expansion-panel-header>
    
        <mat-form-field>
          <input matInput placeholder="First name">
        </mat-form-field>
    
        <mat-form-field>
          <input matInput placeholder="Age">
        </mat-form-field>
      </mat-expansion-panel>
      <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
               <h2>Edit Profile</h2>
            </mat-panel-title>
            <mat-panel-description>
              <!-- Type your name and age -->
            </mat-panel-description>
          </mat-expansion-panel-header>
      
          <mat-form-field appearance="outline">
              <mat-label>Username</mat-label>
              <input matInput placeholder="Username">
              <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
              <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field><span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
      
            <mat-form-field appearance="outline">
                <mat-label>Email Id</mat-label>
                <input matInput placeholder="Email">
                <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                <!-- <mat-hint>Hint</mat-hint> -->
              </mat-form-field><br>

              <mat-form-field appearance="outline">
                  <mat-label>Mobile Number</mat-label>
                  <input matInput placeholder="Mobile Number">
                  <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                  <!-- <mat-hint>Hint</mat-hint> -->
                </mat-form-field><span>&nbsp;&nbsp;&nbsp;&nbsp;</span>

                <mat-form-field appearance="outline">
                    <mat-label>Address</mat-label>
                    <input matInput placeholder="Address">
                    <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                    <!-- <mat-hint>Hint</mat-hint> -->
                  </mat-form-field><br>
                  <mat-form-field appearance="outline">
                      <mat-label>State</mat-label>
                      <input matInput placeholder="State">
                      <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                      <!-- <mat-hint>Hint</mat-hint> -->
                    </mat-form-field><span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <mat-form-field appearance="outline">
                        <mat-label>Country</mat-label>
                        <input matInput placeholder="Country">
                        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                        <!-- <mat-hint>Hint</mat-hint> -->
                      </mat-form-field><br>
                      <mat-form-field appearance="outline">
                          <mat-label>Current Password</mat-label>
                          <input matInput placeholder="Current Password">
                          <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                          <!-- <mat-hint>Hint</mat-hint> -->
                        </mat-form-field>
                      <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                          <mat-form-field appearance="outline">
                              <mat-label>New Password</mat-label>
                              <input matInput placeholder="New Password">
                              <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                              <!-- <mat-hint>Hint</mat-hint> -->
                            </mat-form-field>
                            <div class="example-button-row">
                                <button mat-raised-button color="warn"><b>Uplode</b></button>
                                </div>
        </mat-expansion-panel>
    </mat-accordion>