<div class="example-container">
  <mat-toolbar color="wram" class="example-toolbar">
    <button mat-icon-button><mat-icon>menu</mat-icon></button>
    <!-- <h1 class="example-app-name">Responsive App</h1> -->
    <img src="/src/assets/image3.png" alt="">
     

  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav >
      <mat-nav-list>
        <a href="#">ssssssss</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <!-- <p *ngFor="let content of fillerContent">{{content}}</p> -->
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<!-- <div *ngIf="!shouldRun">Please open on Stackblitz to see result</div> -->
